In [6]:
from glob import glob
import pandas as pd 

filenames = glob('../data/wall_street_journal/*.csv')
filenames = sorted(filenames)

df = pd.read_csv(filenames[0])

for file in filenames:
    temp = pd.read_csv(file)
    df = pd.concat([df, temp], ignore_index = True)
    
df.drop_duplicates().reset_index(drop=True).to_csv('../data/WSJ_articles_full.csv')

,GOID,Date,doc
0,131676998,1947-10-01,1ir 1ir 4ery announce asi baltimore certifird ...
1,129796088,1937-06-16,000 000 000 000 000 000 000 000 000 000 000 00...
2,131394170,1942-03-17,019 11 123 145 1941 1941 1941 19411 194u 194u ...
3,132109478,1953-02-26,100o 11 bank bgcyitly city du dyitl elcan etth...
4,131194913,1934-08-02,000 000 108 art bars cheaper cih city city cit...
...,...,...,...
7694641,134679612,1982-08-23,1071 15110 214 25 2500 343 36 45 6y 75243 8188...
7694642,134508697,1981-08-18,03561 11 183 4615 50 511 800 __ al alorqan ame...
7694643,134384408,1979-10-18,000 000 18 1979 2002 announcement ap arranged ...
7694644,133991591,1975-05-28,11 11 17 19 19 2f 2i 71 90 91 91 97 97 amsx an...
7694645,135160817,1986-01-08,00 108w 19006 1986 215 2789 325 357 9065 ave b...